version: "3"

services:
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    volumes:
      - ./loki:/etc/loki
      - loki-data:/loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yml

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - ./promtail:/etc/promtail
      - /mnt/c/Users/golds/documents/multi-cloud-compute-architecture/siem/aws:/aws-logs
    ports:
      - "9080:9080"
    command: -config.file=/etc/promtail/config.yml

  grafana:
    image: grafana/grafana:9.5.2
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

volumes:
  loki-data:
  grafana-storage:
